.table>h3{
    margin-left: 5%;
}
.table-body{
    margin-right: 1rem;
    width: auto;
}
.MuiTableRow-root>*{
    padding: 10px;
}
.MuiTableRow-root.MuiTableRow-head>*{
    font-weight: bold !important;
}
.table:first-child{
    border-radius: 0.7rem !important;
}

@media screen and (max-width:768px) {
    .table{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 96%;
    }
}


